<div class="container">
  <h2><%= @hotel.name %></h2>
  <p>Located at: <%= @hotel.address %>,<%= @hotel.city %>, <%= @hotel.country %> </p>

  <% @hotel_rooms.each do |hotel, room| %>
     <li><%= room.number %></li>
  <% end %>

  <%= link_to 'Add a room', new_hotel_room_path(@hotel) %>
</div>
